<html>
  <head>
      <title> University of Buea | Department of Computer Science </title>
  </head>
  <body>
        <div class="container-fluid ubcsc-navbar">
            <div class="row">
                <div class="col-sm-10 align-content-sl-start" style="color:white">
                    <h1><span class="lead" >{{titleNameUb}}</span><br>{{titleNameDpt}}</h1>
                </div>
                <div class="col-sm-2 align-content-sl-end form-group">
                    <input type="text" class="form-control ubcsc-searchinput">          
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs row">
                <li><a routerLink = "">Home</a></li>
                <li><a routerLink = "">People and Resources</a></li>
                <li><a routerLink = "" href="#">Projects and Inovation</a></li>
                <li><a routerLink = "">News and Events</a></li>
                <li><a routerLink = "">Campus</a></li>
                <li><a routerLink = "">About</a></li>
                <li><a routerLink = "">Alumi</a></li>
                <li class="active"><a routerLink = "login-page">Login</a></li>
            </ul>
        </div>
        <div class="ubcsc-footer container-fluid">
        </div>
  </body>
</html>
