<html>
  <head>
      <title> University of Buea | Department of Computer Science </title>
  </head>
  <body>
        <div class="ubcsc-billboard container-fluid">
            <img src="../assets/img/map_of_computer_science.jpeg">
        </div>
        <div class="ubcsc-about container-fluid">
            <h4 class="row text-capitalize text-center jumbotron" style="padding: 5px; margin: 10%; margin-top: 2%; margin-bottom: 0%">
            {{aboutDepartmentMessage}}
            </h4>
        </div>
        <div class="ubcsc-studies-row container-fluid">
                <h4 class="right horizontal-line" style="color: rgb(43, 2, 43);">Studies</h4>
            <!--
            <div class="ubcsc-studiesimage row">
                <img src="../assets/img/done.jpeg" style="background-color: rgb(43, 2, 43); color: white" class="img-responsive" alt="Studies">
            </div>
            -->
            <div class="row ">
                <div *ngFor = "let study of studies" class="ubcsc-study col-sm-4 container align-content-start">
                    <div class="row" style="height: 100%; width: 100%; margin: 0 auto;">
                        <div class="row" style="height: 100%; width: 100%; margin: 0 auto;">
                            <img [src] = "study.image" class="img-responsive" style="height: fit-content; width: 100%; margin: auto;" >
                        </div>
                    </div>
                    <div class="row" style="height: 20%; margin: 0 auto;">
                        <h2>{{study.title}}</h2>
                    </div>
                    <div class="row" style="height: 20%; margin: 0 auto;">
                        <p>{{study.decription}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ubcsc-activities-row container-fluid">
                <h4 class="horizontal-line" style="color: rgb(43, 2, 43);">Activities</h4>
            <!--<div class="ubcsc-studiesimage row img-circle" style="min-height: 80px; width: 80px">
                <img src="../assets/img/done.jpeg" style="background-color: rgb(43, 2, 43); color: white" class="img-responsive img-circle col-xl-6" alt="Activities">
            </div>
            -->
            <div class="row">
                <div *ngFor = "let activity of activities" class="ubcsc-ativity col-sm-4 container align-content-start">
                    <div class="row" style="height: 60%; width: 100%; margin: 0 auto;">
                        <div class="row" style="height: 100%; width: 100%; margin: 0 auto;">
                            <img [src] = "activity.image" class="img-responsive">
                        </div>
                    </div>
                    <div class="row" style="height: 15%; margin: 0 auto;">
                        <h2 >{{activity.title}}</h2>
                    </div>
                    <div class="row" style=" height: 20%; margin: 0 auto;">
                        <p style="margin: 1%">{{activity.decription}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ubcsc-affiliate container-fluid">
            <!-- <div class="row">
                <div *ngFor = "let affiliate of affiliates" class="col-md-3 align-content-center" style="margin: 0 auto; height: 100px; border: solid">
                    <img class="img-responsive" [src]="affiliate.image" style="height: 80px; width: 80px">
                    <h3 style="float: right">{{affiliate.name}}</h3>
                </div>
            </div> -->
        </div>
  </body>
</html>
